    <h1>Teachers List</h1>
<div class="row justify-content-center" data-controller="add-teacher">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: school_advancedsearch_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :first_name,
              params[:first_name],
              class: "form-control",
              placeholder: "Type first name"
          %>
          <%= text_field_tag :last_name,
              params[:last_name],
              class: "form-control",
              placeholder: "Type last name"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-8 my-3">
      <table>
        <tr>
          <th><%= link_to "Nom du Professeur", :sort => "first_name" %></th>
          <th><%= link_to "Prenom du professeur", :sort => "last_name" %></th>
        </tr>
          <% @teachers.each do |teacher| %>
        <tr>
          <td><%= teacher.first_name %></td>
          <td><%=teacher.last_name %></td><td>
          <td><%=teacher.date_of_birth %></td>
          <% if @matching_teachers == nil %>
            <td><button class="btn btn-outline-primary" disabled>Add this teacher</button></td>
          <% else %>
            <td><button class="btn btn-outline-primary"
            data-action="click->add-teacher#addteacher" data-add-teacher-target="button">Add this teacher</button></td>
          <% end %>


        </tr>
          <% end %>
      </table>
 <%= link_to "Retour à l'index des profs", school_teachers_path %>
  </div>
</div>
